body {
    background-color: #0080DC;
    font-family: 'Open Sans', Helvatica, sans-serif;
    font-size: 12px;
    color: #fff;
    min-height: 800px;
}

body.enable-dynamic-cursor.tree-cursor {
    cursor: url('../images/trees.png') 25 15, auto;
}

    /* Tutorial */
    .overlay {
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: #007de4;
        opacity: .5;
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none;
        cursor: default;
        display: none;
    }
        .tutorial-container {
            display: none;
        }

        .tutorial-header {
            background-color: white;
            color: #007de4;
            height: 30px;
        }

            .tutorial-header-first {
                height: 60px;
            }

            .tutorial-header-first h3 {
                line-height: 37px;
            }

            .tutorial-header h3 {
                padding-top: 10px;
            }

        .tutorial-content {
            padding-top: 7px;
        }

            .tutorial-content h2 {
                margin: 0;
                padding: 18px 40px 10px 40px;
                font-size: 22px;
                color: #111;
                font-weight: lighter;
            }

            .tutorial-first {
                text-align: center;
            }

            .tutorial-content .info {
                display: block;
                padding: 0px 40px 0px 40px;
                font-size: 12px;
                color: #111;
                font-weight: lighter;
            }

            .actions {
                list-style-type: none;
                padding-left: 0px;
                padding-top: 15px;
                padding-bottom: 30px;
            }

                .actions:after {
                    content: '';
                    display: block;
                    clear: both;
                }


                .actions li {
                    float: left;
                    margin-right: 20px;
                }

                .close-tutorial {
                    line-height: 40px;
                    color: #007de4;
                }

                    .close-tutorial:hover {
                        color: #0067bb;
                    }

                .next-tip {
                    width: 150px;
                    height: 40px;
                    border-radius: 5px;
                    font-size: 12px;
                    display: block;
                    background-color: #007de4;
                    color: white;
                    text-align: center;
                    text-decoration: none;
                    font-weight: bold;
                    position: relative;
                    line-height: 37px;
                }

                .start-play {
                    width: 150px;
                    height: 40px;
                    border-radius: 5px;
                    font-size: 12px;
                    display: block;
                    background-color: #70be59;
                    color: white;
                    text-align: center;
                    text-decoration: none;
                    font-weight: bold;
                    position: relative;
                    line-height: 37px;
                }

                    .next-tip:hover {
                        background-color: #0067bb;
                    }

    .container {
        width: auto;
        max-width: 1140px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -565px;

    }

        .button {
            -webkit-transition: transform 0.1s;
            -moz-transition: transform 0.1s;
            transition: transform 0.1s;
        }
        .button.flash {
            position: relative;
            transform: scale(1.2);
            transform-origin: center center;

        }

        .logo {
            background: url('../images/logo.png') center center no-repeat;
            position: absolute;
            display: block;
            top: 20px;
            left: 20px;
            width: 184px;
            height: 50px;
        }

        .header-line {
            position: absolute;
            width: 250px;
            top: 95px;
        }

        .header-line.left {
            left: 20px;
        }

        .header-line.right {
            right: 20px;
        }

    #world {
        position: relative;
        max-width: 1130px;
        width: 100%;

        margin: 0 auto -120px;
        display: block;
    }

    .hidden {
        display: none;
    }
    .uppercase {
        text-transform: uppercase;
    }
    .bold {
        font-weight: bold;
    }
    .light {
        font-weight: lighter;
    }
    .clear {
        clear: both;
    }
    .text-center {
        text-align: center;
    }
    .half-opacity {
        opacity: 0.5;
    }
    .no-opacity {
        opacity: 0;
    }
    hr {
        position: absolute;
        display: block;
        height: 2px;
        border: none;
        background: #fff;
    }

    .question {
        width: 480px;
    }
        .question-header {
            height: 40px;
            background-color: white;
            position: relative;
        }

            .quiz-icon {
                position: absolute;
                top: 10px;
                left: 10px;
                float: left;
            }

            .question h1 {
                font-size: 22px;
                color: #111;
                font-weight: lighter;
            }

            .question h3 {
                color: #EF896D;
                line-height: 10px;
            }

            .question .dialog-content {
                padding: 0;
            }

            .question-container {
                padding: 5px 40px 30px 40px;
                color: #111;
            }

                .question-container img {
                    margin-left: -40px;
                }

            .checkbox-label {
                padding-left: 5px;
            }

            .send-response {
                width: 150px;
                height: 40px;
                border-radius: 5px;
                font-size: 12px;
                display: block;
                background-color: #EF896D;
                color: white;
                text-align: center;
                text-decoration: none;
                font-weight: bold;
                position: relative;
                line-height: 37px;
            }

                .send-response:hover {
                    background-color: #C7715A;
                }

            .success-message {
                display: none;
                padding-top: 10px;
                color: #70be59;
            }
                .success-message img {
                    float: left;
                    margin-right: 5px;
                }

            .error-message {
                display: none;
                padding-top: 10px;
                color: #F15A31;
            }
                .error-message img {
                    float: left;
                    margin-right: 5px;
                }

            .error-input {
                display: none;
                padding-top: 10px;
                color: #F15A31;
            }
                .error-input img {
                    float: left;
                    margin-right: 5px;
                }

            .info-text {
                display :block;
                font-size: 12px;
                color: #111;
            }

    .button {
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        -wegkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: none;
        padding: 5px 25px;
    }
    .button.disabled {
        opacity: 0.4;
        cursor: default;
    }
    .button:focus {
        outline:0;
    }
    .button.green {
        background: #70be59;
    }
    .button.disabled.green:hover {
        background: #70be59;
    }
    .button.green:hover {
        background: #5c9d49;
    }

    .button.red {
        background: #EF896D;
    }
    .button.red.disabled:hover {
        background: #EF896D;
    }
    .button.red:hover {
        background: #C7715A;
    }

    .button.blue {
        background: #005B9D;
    }
    .button.disabled.blue:hover {
        background: #005B9D;
    }
    .button.blue:hover {
        background: #003A65;
    }
    .button.skeleton {
        background: none;
        border: solid 2px #7BB6DF;
        color: #7BB6DF;
    }
    .button.skeleton:hover {
        background: #7BB6DF;
        color: #0080DC;
    }
    .logout {
        position: absolute;
        top: 30px;
        right: 20px;
    }
    .air-polution {
        position: absolute;
        top: 120px;
        left: 20px;
        font-weight: lighter;
        line-height: 1;
    }
    .air-polution .value {
        font-size: 50px;

        margin: 0;
    }
    .air-polution .label,
    .air-polution .goal {
        margin: 8px 0;
    }

    .game-description {
        position: absolute;
        top: 18px;
        left: 50%;
        margin-left: -110px;
        font-weight: lighter;
        font-size: 16px;
    }
    .user-stats {
        position: absolute;
        top: 120px;
        right: 20px;
        text-align: right;
        width: 300px;
    }
    .user-stats .name {
        font-size: 20px;
        font-weight: bold;
        margin: 0 0 6px 0;
        width: 100%;
        line-height: 1.2;
    }
    .user-stats .avatar {

        width: 58px;
        height: 87px;
        background: url('../images/large-pin.png') top left no-repeat;
    }
    .user-stats .left,
    .user-stats .right {
        display: inline-block;
        vertical-align: top;
    }
    .user-stats .left {
        width: 180px;
        margin-right: 10px;
    }
    .user-stats .right {
        width: 60px;

    }
    .user-stats .rank {
        position: relative;
        display: inline-block;
        top: 5px;
        width: 105px;
        height: 12px;
        background: url('../images/rank-leaves.png') top left;
        margin: 0;
    }
    .user-stats .points {
        margin-top: 5px;
    }
    .user-stats .rank .leaf-fill {
        display: block;
        width: 0;
        margin: 0;
        height: 100%;
        background: url('../images/rank-leaves.png') bottom left;
    }
    .user-stats .rank.fill-1 .leaf-fill {
        width: 20%;
    }
    .user-stats .rank.fill-2 .leaf-fill {
        width: 40%;
    }
    .user-stats .rank.fill-3 .leaf-fill {
        width: 60%;
    }
    .user-stats .rank.fill-4 .leaf-fill {
        width: 80%;
    }
    .user-stats .rank.fill-5 .leaf-fill {
        width: 100%;
    }
    .user-stats .rank.fill-0 .leaf-fill {
        width: 0;
    }

    .user-stats .avatar .image {
        position: relative;
        top: 8px;
        left: 8px;
        width: 42px;
        height: 42px;
        overflow: hidden;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
    }
    .bottom-block-container {
        width: auto;
        text-align: center;
    }
    .bottom-block {
        position: relative;
        display: inline-block;
        text-align: left;
        padding: 10px 20px;
        /*margin: 10px;*/
        margin-top: -250px;

    }
    .bottom-block:after {
        content: '';
        display: block;
        width: 2px;
        background: #fff;
        height: 42px;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -21px;
    }
    .bottom-block.ask-help:after {
        display: none;
    }
    .you-have {
        width: 266px;
    }
    .you-have .label {
        margin: 0;
    }
    .bottom-block .inline-block {
        vertical-align: middle;
    }
    .bottom-block p {
        margin: 4px 0;
    }
    .you-have .number {
        font-size: 40px;
        font-weight: bold;
        line-height: 1;
        margin: 0;
    }
    .user-stats .avatar .image img {
        max-width: 100%;
        min-height: 100%;
    }

    .icon {
        display: inline-block;
        vertical-align: middle;
    }
    .inline-block {
        display: inline-block;
    }
    .industry-icon {
        width: 20px;
        height: 20px;
        background: url('../images/industry.png') center center no-repeat;
        margin-right: 5px;
        margin-top: -10px;
    }
    .plant-now {
        width: 235px;
    }
    .tree-icon {
        width: 41px;
        height: 48px;
        background: url('../images/tree.png') center center no-repeat;
        margin-right: 5px;
    }
    .trees-icon {
        width: 91px;
        height: 50px;
        background: url('../images/trees.png') center center no-repeat;
        margin-right: 10px;
    }
    .quiz-image {
        width: 60px;
        height: 46px;
        background: url('../images/okwrong.png') center center no-repeat;
        margin-right: 15px;
    }
    .ask-help-image {
        width: 76px;
        height: 50px;
        background: url('../images/ask-help-bubble.png') center center no-repeat;
        margin-right: 10px;
    }
    .footer-line {
        position: relative;
        display: block;
        width: auto;
        margin: 0 20px 20px;
    }
    footer {
        text-align: center;
        font-weight: lighter;
        margin-bottom: 20px;
    }
    .small-logo {
        display: inline-block;
        width: 50px;
        height: 50px;
        vertical-align: middle;
        margin: 5px;
        background: url('../images/small-logo.png') center center no-repeat;
    }
    .pin-fix {
        position: absolute;
        background: url('../images/pin.png') center center no-repeat;
        width: 37px;
        height: 56px;
    }
    .pin-fix .image {
        overflow: hidden;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        width: 26px;
        height: 26px;
        margin: 5px;
    }
    .pin-fix .image img {
        max-width: 100%;
        min-height: 100%;
    }

.preloader-gif-container {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    z-index: 10;
}
.preloader {
    width: 100%;
    height: 100%;
    border-radius: 30px;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 10;
    background: #0080DC url('../images/map_blur.jpg') center center no-repeat;
}
.preloader img {
    margin-left: 14px;
    margin-top: 14px;
}
@media only screen and (max-width : 1160px) {
    .container {
        margin-left: -465px;
    }
    .bottom-block {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .you-have {
        width: 120px;
    }
    .you-have .info {
        display: none;
    }
}
