body {
    background: #0080DC;
}

    #world {
        width: 960px;
        margin: 100px auto;
        display: block;
    }

    .hidden {
        display: none;
    }

    .no-opacity {
        opacity: 0;
    }

    .question {
        width: 500px;
        height: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -250px;
        margin-top: -150px;
        background: white;
    }
