<!DOCTYPE html>
<html>
    <head>
        <title>TreeHuggers</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="assets/css/index.css">
        <link rel="stylesheet" type="text/css" href="assets/css/game.css">
    </head>
    <body>

        <!-- Tutorial -->
        <div class="dialog tutorial" id="tutorial"></div>

        <script type="text/html" id="tutorialTemplate">
            <div class="dialog-header tutorial-header<%= first%>">
                <h3><%= heading %></h3>
            </div>
            <div class="dialog-content tutorial-content tutorial<%= first%>">
                <%= img %>

                <h2><%= title%></h2>
                <span class="info"><%= content %></span>
                <ul class="actions">
                    <% if ( first ){ %>
                        <li><a href="#" class="next-tip" data-id="<%= id %>" id="nextTip">TAKE THE TOUR</a></li>
                        <li><a href="#" class="green start-play" id="closeTutorial"> LET'S PLAY!</a></li>
                    <% } else { %>
                        <li><a href="#" class="next-tip" data-id="<%= id %>" id="nextTip">NEXT TIP</a></li>
                        <li><a href="#" class="close-tutorial" id="closeTutorial"> Let's play!</a></li>
                    <% } %>
                </ul>
            </div>
        </script>

        <div class="overlay"></div>

        <div class="preloader" id="preloader"><img src="assets/images/preloader.gif" width="32" alt="preloader" /></div>

        <div class="container">
            <canvas id="world" width="1130" height="827"></canvas>
            <!-- Header -->
            <a href="" class="logo"></a>
            <button class="button skeleton logout" id="logout">Log Out</button>
            <hr class="header-line left"/>
            <div class="air-polution" id="airPollution">
                <p class="label"><span class="industry-icon icon"></span>Air Pollution</p>
                <p class="value"><span class="update-target"></span>%</p>
                <p class="goal uppercase">Goal is: <span class="bold">20%</span></p>
            </div>
            <p class="game-description half-opacity">Saving our planet. Tree by tree.</p>
            <div class="logout"></div>
            <hr class="header-line right"/>
            <div class="user-stats" id="avatar">
                <div class="left">
                    <h2 class="name uppercase"><span class="update-target">Bogdan Negrescu</span></h2>
                    <div class="rank fill-3">
                        <p class="leaf-fill"></p>

                    </div>
                    <p class="clear points"><span class="update-target"></span> points</p>
                </div>
                <div class="right avatar">
                    <div class="image">
                        <img class="update-target" src="assets/images/depe.jpg"/>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <div class="bottom-block-container">
                <div class="you-have bottom-block" id="youHave">
                    <div class="inline-block">
                        <p class="label uppercase bold">You have</p>
                        <p class="number"><span class="update-target"></span>x</p>
                    </div>
                    <div class="tree-icon icon "></div>
                    <p class="info half-opacity light inline-block">You will receive a new tree <br/><b>each day</b></p>
                </div>
                <div class="plant-now  bottom-block" id="plantNow">
                    <aside class="trees-icon icon"></aside>
                    <div class="inline-block cta-block">
                        <button class="button green" id="plantNowButton">Plant Now</button>
                        <p class="text-center" >You need <span class="update-target"></span> tree(s)</p>
                    </div>
                </div>
                <div class="take-quiz bottom-block" id="takeQuiz">
                    <div class="quiz-image icon"></div>
                    <div class="inline-block cta-block">
                        <button class="button red">Take a Quiz</button>
                        <p class="text-center">Earn extra trees</p>
                    </div>
                </div>
                <div class="ask-help bottom-block" id="askHelp">
                    <div class="ask-help-image icon"></div>
                    <div class="inline-block cta-block">
                        <button class="button blue">Ask for help</button>
                        <p class="text-center"> <span class="update-target"></span> remaining</p>
                    </div>
                </div>
                <hr class="footer-line"/>
                <footer>
                    <span class="half-opacity">&copy; 2014 TreeHuggers.</span>
                    <div class="small-logo inline-block"></div>
                    <span class="half-opacity">All rights reserved.</span>
                </footer>
            </div>
        </div>

        <!-- Questions template -->
        <script type="text/html" id="question-Dropdown-Html">
            <div><button id="close">x</button></div>
            <% if ( question.info ){ %>
                <%= question.info %>
                <button id="next">Got It!</button>
            <% } else { %>
                <h1><%= question.text %></h1>
                <select name="response" id="response">
                    <% _.each( question.answers, function( answer ){ %>
                        <option value="<%= answer.id %>"><%= answer.text %></value>
                    <% }); %>
                </select>

                <button id="sendResponse">Send</button>
            <% } %>
        </script>

        <script type="text/html" id="question-Radio-Html">
            <div><button id="close">x</button></div>
            <% if ( question.info ){ %>
                <%= question.info %>
                <button id="next">Got It!</button>
            <% } else { %>
                <h1><%= question.text %></h1>
                <% _.each( question.answers, function( answer ){ %>
                    <input type="radio" value="<%= answer.id %>" name="response" class="response" /> <%= answer.text %>
                <% }); %>

                <button id="sendResponse">Send</button>
            <% } %>
        </script>

        <script type="text/html" id="question-Input-Html">
            <div><button id="close">x</button></div>
            <% if ( question.info ){ %>
                <%= question.info %>
                <button id="next">Got It!</button>
            <% } else { %>
                <h1><%= question.text %></h1>
                <input type="text" name="response" id="response"/>
                <button id="sendResponse">Send</button>
            <% } %>
        </script>

        <!-- Win dialog -->
        <script type="text/html" id="winDialogHtml">
            <h1>You have won!!</h1>
            <button id="winDialogOK">Collect Prize</button>
        </script>

        <script src="scripts/libs/jquery-2.1.1.js"></script>
        <script src="scripts/libs/underscore.js"></script>
        <script src="scripts/libs/preloadjs/preloadjs-0.4.1.min.js"></script>
        <script src="scripts/libs/easeljs/easeljs-0.7.1.combined.js"></script>
        <script src="scripts/libs/soundjs/soundjs-0.5.2.combined.js"></script>
        <script src="scripts/libs/tweenjs/tweenjs-0.5.1.combined.js"></script>
        <script src="scripts/libs/tweenjs/CSSPlugin.js"></script>
        <script src="scripts/global.js"></script>
        <script src="scripts/game.js"></script>
        <script src="scripts/map/Notifier.js"></script>
        <script src="scripts/map/Zone.js"></script>
        <script src="scripts/map/Country.js"></script>
        <script src="scripts/map/Island.js"></script>
        <script src="scripts/map/index.js"></script>
        <script src="scripts/players/Player.js"></script>
        <script src="scripts/players/MainPlayer.js"></script>
        <script src="scripts/players/index.js"></script>
        <script src="scripts/ui/Component.js"></script>
        <script src="scripts/ui/AirPollution.js"></script>
        <script src="scripts/ui/Avatar.js"></script>
        <script src="scripts/ui/Question.js"></script>
        <script src="scripts/ui/PlantNow.js"></script>
        <script src="scripts/ui/Tutorial.js"></script>
        <script src="scripts/ui/TakeQuiz.js"></script>
        <script src="scripts/ui/AskHelp.js"></script>
        <script src="scripts/ui/Preloader.js"></script>
        <script src="scripts/ui/YouHave.js"></script>
        <script src="scripts/ui/WinDialog.js"></script>
        <script src="scripts/ui/index.js"></script>
        <script src="scripts/main.js"></script>
    </body>
</html>
