<!DOCTYPE html>
<html>
    <head>
        <title>TreeHuggers</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="assets/css/game.css">
    </head>
    <body>
        <canvas id="world" width="960" height="533"></canvas>

        <!-- Questions template -->
        <script type="text/html" id="question-Dropdown-Html">
            <div><button id="close">x</button></div>
            <% if ( question.info ){ %>
                <%= question.info %>
                <button id="next">Got It!</button>
            <% } else { %>
                <h1><%= question.text %></h1>
                <select name="response" id="response">
                    <% _.each( question.answers, function( answer ){ %>
                        <option value="<%= answer.id %>"><%= answer.text %></value>
                    <% }); %>
                </select>

                <button id="sendResponse">Send</button>
            <% } %>
        </script>

        <script type="text/html" id="question-Radio-Html">
            <div><button id="close">x</button></div>
            <% if ( question.info ){ %>
                <%= question.info %>
                <button id="next">Got It!</button>
            <% } else { %>
                <h1><%= question.text %></h1>
                <% _.each( question.answers, function( answer ){ %>
                    <input type="radio" value="<%= answer.id %>" name="response" class="response" /> <%= answer.text %>
                <% }); %>

                <button id="sendResponse">Send</button>
            <% } %>
        </script>

        <script type="text/html" id="question-Input-Html">
            <div><button id="close">x</button></div>
            <% if ( question.info ){ %>
                <%= question.info %>
                <button id="next">Got It!</button>
            <% } else { %>
                <h1><%= question.text %></h1>
                <input type="text" name="response" id="response"/>
                <button id="sendResponse">Send</button>
            <% } %>
        </script>

        <!-- Win dialog -->
        <script type="text/html" id="winDialogHtml">
            <h1>You have won!!</h1>
            <button id="winDialogOK">Collect Prize</button>
        </script>
        <script src="scripts/libs/jquery-2.1.1.js"></script>
        <script src="scripts/libs/underscore.js"></script>
        <script src="scripts/libs/preloadjs/preloadjs-0.4.1.min.js"></script>
        <script src="scripts/libs/easeljs/easeljs-0.7.1.combined.js"></script>
        <script src="scripts/libs/soundjs/soundjs-0.5.2.combined.js"></script>
        <script src="scripts/libs/tweenjs/tweenjs-0.5.1.combined.js"></script>
        <script src="scripts/libs/tweenjs/CSSPlugin.js"></script>
        <script src="scripts/global.js"></script>
        <script src="scripts/game.js"></script>
        <script src="scripts/map/Notifier.js"></script>
        <script src="scripts/map/Zone.js"></script>
        <script src="scripts/map/Country.js"></script>
        <script src="scripts/map/Island.js"></script>
        <script src="scripts/map/index.js"></script>
        <script src="scripts/players/Player.js"></script>
        <script src="scripts/players/MainPlayer.js"></script>
        <script src="scripts/players/index.js"></script>
        <script src="scripts/ui/Component.js"></script>
        <script src="scripts/ui/Question.js"></script>
        <script src="scripts/ui/WinDialog.js"></script>
        <script src="scripts/ui/index.js"></script>
        <script src="scripts/main.js"></script>
    </body>
</html>
